################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encounter/.vs
/Encounter/app
/Encounter/bin
/Encounter/node_modules
/Encounter/obj/Debug
/Encounter/typings
/Encounter/public/images
/Encounter/private
/Encounter/process.env
/Encounter/accesses.txt
/Encounter/public/content
