################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encounter/.vs
/Encounter/app
/Encounter/dist
/Encounter/bin
/Encounter/obj
/Encounter/node_modules
/Encounter/obj/Debug
/Encounter/typings
/Encounter/public/images
/Encounter/private
/Encounter/process.env
/Encounter/accesses.txt
/Encounter/public/content
/Encounter/server.js
/Encounter/site
/Encounter/routes/*.js

**.map
