################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Encounter/.vs
/Encounter/app
/Encounter/bin
/Encounter/node_modules
/Encounter/obj/Debug
/Encounter/typings
