<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="card" (click)="onSelectPost(null)">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                        <img class="card-icon img-responsive img-rounded" src="/images/flat-icons/PNG/Treasure Map.png">
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        <div class="card-title">
                            <span>Hey out there internet!</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let post of posts">
            <div class="card" (click)="onSelectPost(post)" [class.selected]="post === selectedPost">
                <div class="card-title">
                    <span>{{post.title}}</span>
                </div>
                <div class="card-content">
                    <p>
                        {{post.truncate(150)}}
                    </p>
                </div>
                <div class="card-action">
                    <a class="btn btn-primary" role="button" (click)="gotoPost(post)">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</div>
