<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="card" (click)="onSelectPost(null)">
                <div class="row">
                    <div class="hidden-xs hidden-sm col-xl-2 col-lg-2 col-md-2">
                        <img class="card-icon img-responsive img-rounded" src="/images/flat-icons/PNG/Treasure Map.png">
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="card-title">
                            <span>Adventures!</span>
                        </div>
                        <div class="card-content">
                            Last time around, I wasn't quite happy with how I had designed my blog. I'm much more
                            satisfied with my changes now, and although you don't see much of a difference there was
                            a big set of changes to this page while my site was inactive. Soon I'll have filters, 
                            tags, and searching set up here. I've even been considering doing some posts on interesting
                            code. Stay tuned! 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngFor="let post of posts">
            <div class="card" (click)="onSelectPost(post)" [class.selected]="post === selectedPost">
                <div class="card-title">
                    <span>{{post.title}}</span>
                </div>
                <div class="card-content" [innerHTML]="post.truncate(150) | trust">
                </div>
                <div class="card-action">
                    <a class="btn btn-primary" role="button" (click)="gotoPost(post)">Read more...</a>
                </div>
            </div>
        </div>
    </div>
</div>
