<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="container">
            <div class="card">
                <div class="row">
                    <div class="hidden-xs hidden-sm col-xl-2 col-lg-2 col-md-2">
                        <img class="card-icon img-responsive img-rounded" src="/images/flat-icons/PNG/Satellite.png">
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="card-title">
                            <span>Back online!</span>
                        </div>
                        <div class="card-content">
                            <h5>
                                Hi everyone! Welcome to zevisert.ca!
                            </h5>
                            It's been a long while since I've had this site online. When my hosting expired a few months ago,
                            I decided it was time to take another step deeper into the web-development world. I left my static
                            hosting provider and moved to a virualized hosting evironment, namely DigitalOcean. I'm now in control
                            of every little aspect of my website, from how it looks, to where on earth my content is stored. I've
                            completly re-written the site, and it was a blast! What you're looking at now is an Angular 2 webapp,
                            written in TypeScript, supported by an Express.js server. In the current state, it's functional - 
                            at least by my own metrics. Content on by blog requires authentication to see, and again on every request.
                            Basically anyone can see it, but this does stop Google from crawling through my stuff. I've still got
                            some more features I'd like to add though, so things may change a little. At least now with everything
                            running again I'll be tempted to write some more content for my blog, rather than just coding!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
