/* These styles are unencapsulated, they apply to all other components as well */
body {
    padding-top: 65px;
    background-color: #F0F0F0;
}

#particles-background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
