@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);

.card {
    /* Colors and styles */
    background: #FFF;
    color: #272727;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;

    /* Positioning and padding */
    display: inline-block;
    --inset: 10px;
    margin: var(--inset); /* Inset (shrink) the card 10 px on each side */

    /* Set width minus a bit to account for the margins. */
    width: 98%; /* Fallback to 98% if the below isn't supported */
    width: -webkit-calc(100% - 2*var(--inset));
    width:    -moz-calc(100% - 2*var(--inset));
    width:         calc(100% - 2*var(--inset));
    vertical-align: top;
    position: relative;
    overflow: hidden;
}

.card .card-title {
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
    font-size: 24px;
    font-weight: 400;
    color: #334D5C;

    padding: 20px;
    padding-bottom: 5px;
}

.card .card-content {
    font-size: 16px;
    font-weight: 300;
    border-radius: 0 0 2px 2px;

    padding: 20px;
    padding-top: 10px;
}

.card p {
    margin: 0;
}

.card small {
    font-size: 45%;
    margin: 0;
    padding: 0;
}

.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card .card-image {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.card .card-icon {
    margin: 20px;
}

.card .card-image img {
    border-radius: 2px 2px 0 0;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.card .card-image .card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #FFF;

    padding: 20px;
}
